.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
*.cache
*.lock
swow-test/
swow-examples/
ssl/
server/
php-monitor/
hyperf-casbin-example/
MineAdmin/
collection/
http2/